/**
 * Laravel Backpack theme for elFinder.
 * Required jquery ui "smoothness" theme.
 *
 * @author Cristian Tabacitu [hello@tabacitu.ro]
 **/

body.elfinder { margin:0; }
body #elfinder.ui-widget-content { 
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #23282c;
    border-radius: 3px!important;
}

.elfinder-cwd-icon:before {
	background: #ccc;
}

#elfinder .ui-state-default, 
#elfinder .ui-widget-content .ui-state-default, 
#elfinder .ui-widget-header .ui-state-default {
	background: #e6e6e6;
}

.elfinder-contextmenu .ui-state-hover {
	color: black!important;
}

.elfinder-cwd-file.ui-state-hover, 
.elfinder-cwd-file.ui-widget-content .ui-state-hover, 
.elfinder-cwd-file.ui-widget-header .ui-state-hover, 
.elfinder-cwd-file.ui-state-focus, 
.elfinder-cwd-file.ui-widget-content .ui-state-focus, 
.elfinder-cwd-file.ui-widget-header .ui-state-focus {
	background: transparent!important;
	/*border: 1px solid #ccc;*/
}

.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover, 
.elfinder-cwd table td.ui-state-hover, 
.elfinder-button-menu .ui-state-hover {
	/*color: black!important;*/
	/*font-weight: bold;*/
}

.elfinder .elfinder-contextmenu, .elfinder .elfinder-contextmenu-sub {
	border: 1px solid #ccc!important;
}

/* input textarea */
.elfinder input,
.elfinder textarea {
	color: #000;
	background-color: #FFF;
}

/* dialogs */
.std42-dialog, .std42-dialog .ui-widget-content { background-color:#ededed; background-image:none; background-clip: content-box; }

/* navbar */
.elfinder .elfinder-navbar { background:#dde4eb; }
.elfinder-navbar .ui-state-hover  { color:#000; background-color:#edf1f4; border-color:#bdcbd8; }
.elfinder-navbar-root.ui-state-active.ui-state-hover  { color:white; background: #3875d7!important;  }
.elfinder-navbar .ui-state-active { background: #3875d7;    border-color:#3875d7; color:#fff; }
.elfinder-navbar .elfinder-droppable-active {background:#A7C6E5 !important;}
/* disabled elfinder */
.elfinder-disabled .elfinder-navbar .ui-state-active { background: #dadada; border-color:#aaa; color:#fff; }


/* current directory */
/* selected file in "icons" view */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover { background:#ccc; }

/* list view*/
.elfinder-cwd table thead td.ui-state-hover { background:#ddd; }
.elfinder-cwd table tr:nth-child(odd) { background-color:#edf3fe; }
.elfinder-cwd table tr {
	border: 1px solid transparent;
	border-top:1px solid #fff;
}
.elfinder-cwd .elfinder-droppable-active td { background:#A7C6E5 !important; }


/* common selected background/color */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-cwd table td.ui-state-hover,
.elfinder-button-menu .ui-state-hover { background: #3875d7; color:#fff;}
/* disabled elfinder */
.elfinder-disabled .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-disabled .elfinder-cwd table td.ui-state-hover { background:#dadada;}

/* statusbar */
.elfinder .elfinder-statusbar { color:#555; }
.elfinder .elfinder-statusbar a { text-decoration:none; color:#555;}


.std42-dialog .elfinder-help, .std42-dialog .elfinder-help .ui-widget-content { background:#fff;}

/* contextmenu */
.elfinder-contextmenu .ui-state-hover { background: #3875d7; color:#fff; }
.elfinder-contextmenu .ui-state-hover .elfinder-contextmenu-arrow { background-image:url('../img/arrows-active.png'); }

/* jquery-ui overwrites */
.ui-widget-header {
	background: #cccccc;
	border: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 0;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #dadada;
}
.elfinder-navbar-root .ui-state-hover {
	background: #3875d7!important;
}