/*
*
* Backpack Crud / Form
*
*/

.form-group.required label:not(:empty)::after {
    content: ' *';
    color: #ff0000;
}

.help-block {
	margin-top: .25rem;
	margin-bottom: .25rem;
    color: #73818f;
    font-size: 0.9em;
}

.nav-tabs .nav-link:hover {
	border-bottom: none;
	color: #384c74;
}
